.table-container {
    max-width: 1600px;
    margin: 0 auto;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.form-container {
    max-width: 800px;
    margin-bottom: 1em;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  form label {
    margin-bottom: 20px;
  }
  
  form label[for="rating"],
  form input[id="rating"] {
    display: flex;
    align-items: center;
  }
  form label[for="status"]
  form input[id ="status"] {
    display: flex;
    align-items: center;
  }
  
  form button {
    order: 1;
    margin-top: 0em;
  }


label {
    margin-bottom: 0.5em;
}

input, button, textarea {
    margin-bottom: 1em;
    padding: .5em;
    border-radius: 8px;
}

button {
    background-color: #4caf50;
    color: white;
    border: khaki;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 16px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.volunteer-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

.volunteer-table th, .volunteer-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.volunteer-table th {
    background-color: #4caf50;
    color: white;
}

.volunteer-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.volunteer-table tbody tr:hover {
    background-color: #ddd;
}

.volunteer-table img {
    max-width: 50px;
    max-height: 50px;
}

.volunteer-table th {
    cursor: pointer;
}
.volunteer-actions button {
    margin-right: 0.5em;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.2em 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.volunteer-actions button:hover {
    background-color: #d32f2f;
}

#heroProjectFilter {
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding-left: 10px
    
}